* body{
    margin: 0px;
    padding: 0px;
}

.nav-link{
    color:black;
}

.nav-link:hover{
    color:red;
}
#caixa{
    width: 540px;
    height: 100px;
    background-color: rgb( 232, 79, 92);
    padding-top: 10px;

}
#caixa1{
    width: 180px;
    height: 80px;
    background-color: rgb( 232, 79, 92);
    float: left;
    border-right: solid  white;
    text-align: center;
    padding-top: 10px;
    color: white;
}
#caixab{
    width: 180px;
    height: 80px;
    background-color: rgb( 232, 79, 92);
    float: left;
    border-right: solid white;
    text-align: center;
    padding-top: 10px;
    color: white;

}
#caixac{
    width: 180px;
    height: 80px;
    background-color: rgb( 232, 79, 92);
    float: left;
    text-align: center;
    padding-top: 10px;
    color: white;
}