* body{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 980px;
    height: 60px;
    margin: auto;
    margin-top: 30px;

}

#logo{
    width: 200px;
    height: 60px;
    margin: left;
}

.imglogo{
    margin: 10px 0px 0px 5px;
}

#menu{
    width: 680px;
    height: 60px;
    float: right;
    /*word-spacing: 30px;*/
    text-align: center  ;
    padding-top: 50px;
}   

#menu a{
    margin: 0px 15px;
    color:rgb(15, 42, 52);
    text-decoration: none;  
}

#banner{
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
    
}

#imagembanner{
    width: 980px;
    height: 450px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 5px ;
    background-image:url(banner.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
}

#divtexto{
    word-spacing: 30px;
    padding-top: 140px;
    margin: 0px 0px 10px 0px;
    color: white;
    font-size: 20px;
   
}
#divtextodois{  
    word-spacing: -2px;
    margin: -70px 10px 10px 0px;
    color: white;
    letter-spacing: 8px;

}

#containerdois{
    width: 980px;
    height: auto;
    background-color:rgb(15, 42, 52);
    margin: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.imggaleria{
    width: 200px;
    height: 130px;
    margin: 0px 10px 10px 0px;
}

#containertres{
    width: 980px;
    height: auto;
    margin: 20px 10px 10px 269px;
    padding-top: 20px;
}

#containertrestext{
    margin:auto;
    color:rgb(15, 42, 52);
}


#faleconosco{
    width: 500px;
    height: 300px;
    float:left; 
}
#painel{
    
    width: 470px;
    height: 300px;
    float:right;
    color: rgb(15, 42, 52);


}
.imgpaineL{
    width: 50px;
    float: left;
    margin:5px 5px 5px 5px; 
}

#rodapePorcento{
    width: 100%;
    height: auto;
    background-color:rgb(15, 42, 52);
    clear: both;
}

#rodape{
    width: 980px;
    height: 40;
    background-color:rgb(15, 42, 52);
    margin: auto;
    color: white;
    text-align: center;
    clear:both;
}


input[type=text]{
    width: 100%;
    padding:12px 20px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    
}

textarea{
    width: 100%;
    padding:12px 20px;
    margin: 5px;
    box-sizing: border-box;   
}

input[type=submit]{
    width: 100px;
    padding:12px 10px;
    margin: 5px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    color: rgb(15, 42, 52);
   
}


   